.upmenu-inputs {
  border: 1px dashed;
  background-color: #bee3f80a !important;
}

.upmenu-inputs p {
  position: absolute;
  font-size: 1.5rem;
  border-bottom: 2px solid white;
}

.upmenu-inputs input[type="file"] {
  opacity: 0;
}

@media (max-width: 506px) {
  .upmenu-inputs p {
    font-size: 1rem;
  }
}

@media (max-width: 376px) {
  .upmenu-inputs p {
    font-size: 0.7rem;
  }

  .version-btn {
    padding: 0 !important;
    font-size: 0.6rem !important;
  }

  .refresh-btn {
    padding: 0 5px 0 5px !important;
    font-size: 0.6rem !important;
  }
}
