body{
    padding: 20px;
}

.demand-header{
    height: 400px;
}

.damand-logo{
    margin-top: 50px;
}

.subject{
    margin-top: 40px;
}

.company-names{
    font-size: 1.25rem;
    font-weight: 700 !important;
}

.contact-infos{
    margin-top: 100px;
}