#a4-paper{
    width: 21cm;
    height: 50cm;
    color: initial;
}

#brand-name{
    text-align: left;
}

#brand-name .brand{
    font-size: 2.5rem;
    font-weight: bolder;
}

#brand-name .slogan{
    font-size: 1.5rem;
}

#brand-name .chakra-editable__preview{
    padding: 0.5rem;
    background: #ffffff !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-top: 0.5rem;
}

#brand-infos .left-side{
    text-align: left;
}

#brand-infos .right-side{
    text-align: right;
}

#brand-infos .left-side .author-company-infos{
    font-size: 0.6rem !important;
} 

#brand-infos .chakra-editable__preview{
    padding: 0.5rem;
    background: #ffffff !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-top: 0.5rem;
}

.a4-footer .chakra-editable__preview{
    padding: 0.5rem;
    background: #ffffff !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-top: 0.5rem;
}
