@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  background: rgb(83,168,214);
  background: linear-gradient(0deg, rgba(83,168,214,0.13627457819065125) 0%, rgba(0,212,255,0) 100%); 
}


@media print {
  @page{
    size: auto; 
    margin: 0; 
  }

  .editor .alert {
    display: none
  }

  .editor .print-btn{
    display: none;
  }
}