@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

ul{
  @apply absolute
}

.hero {
  background-color: #a1d2ec;
  background-image: url("../assets/img/pattern-wallpaper.svg")
}

.hero {
  @apply text-center flex flex-col shadow h-screen justify-center items-center 
}

.hero .subject {
  @apply font-extrabold tracking-wider text-6xl p-4 uppercase bg-white
}

.hero .description {
  @apply p-2 uppercase bg-white text-base mt-2
}